<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Login
                </div>

                <div class="card-body">
                    <form [formGroup]="loginForm" (ngSubmit)="login($event)">
                        <input type="text" class="form-control mb-2" placeholder="Employee Code" formControlName="code">
                        <input type="password" class="form-control mb-2" placeholder="Password"
                            formControlName="password">
                        <button class="btn btn-primary w-100" type="submit" [disabled]="loginForm.invalid">
                            Login
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>